.advantages-wrapper {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 52px;

  @include vp-1200 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 31px;
    padding: 0;

    &:nth-child(n+2) {
      padding-bottom: 0;
    }
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}

.advantages-wrapper__box {
  display: flex;
  padding-bottom: 43px;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @include vp-1200 {
    grid-column: 1/1;
    grid-row: 1/1;
    padding-bottom: 0;
    border-bottom: none;

    &:last-child {
      padding-top: 0;
    }
  }

  @include vp-767 {
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 15px;
    text-align: center;
  }
}

.advantages-wrapper__box:nth-child(2n) {
  grid-column: 1 / 2;
  padding-bottom: 0;
  border-bottom: none;

  @include vp-1200 {
    grid-row: 3/3;
  }

  @include vp-767 {
    order: 4;
  }
}

.advantages-wrapper__box:nth-child(2n) .advantages-wrapper__description {
  padding-top: 22px;

  @include vp-1200 {
    padding-top: 14px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.advantages-wrapper__box:nth-child(2n) .advantages-wrapper__description h5 {
  @include vp-767 {
    padding-bottom: 4px;
  }
}

.advantages-wrapper__box:nth-child(4n) {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @include vp-1200 {
    grid-column: 2 / 2;
  }

  @include vp-767 {
    order: 2;
  }
}

.advantages-wrapper__box:nth-child(4n) .advantages-wrapper__quantity h4 {
  padding-left: 6px;

  @include vp-1200 {
    padding-left: 3px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.advantages-wrapper__box:nth-child(4n) .advantages-wrapper__quantity p {
  padding-left: 5px;

  @include vp-767 {
    padding-left: 0;
    margin-top: -19px;
  }
}

.advantages-wrapper__box:nth-child(5n) {
  grid-column: 3/4;
  grid-row: 2/2;
  padding-bottom: 0;
  border-bottom: none;

  @include vp-1200 {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }

  @include vp-767 {
    order: 5;
    padding-top: 23px;
    padding-right: 5px;
  }
}

.advantages-wrapper__box:nth-child(5n) .advantages-wrapper__quantity h4 {
  padding-left: 6px;

  @include vp-1200 {
    padding-left: 4px;
  }
}

.advantages-wrapper__box:nth-child(5n) .advantages-wrapper__description h5 {
  padding-bottom: 8px;

  @include vp-1200 {
    padding-bottom: 0;
  }

  @include vp-767 {
    padding-bottom: 3px;
  }
}

.advantages-wrapper__box:nth-child(5n) .advantages-wrapper__quantity p {
  padding-left: 5px;
}

.advantages-wrapper__box:nth-child(5n) .advantages-wrapper__description {
  padding-top: 22px;
  padding-left: 2px;

  @include vp-1200 {
    padding-top: 14px;
    padding-left: 1px;
  }

  @include vp-767 {
    padding-top: 0;
    padding-left: 5px;
  }
}

.advantages-wrapper__box:nth-child(5n) .advantages-wrapper__description p {
  @include vp-767 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

.advantages-wrapper__quantity {
  padding-right: 31px;

  @include vp-1200 {
    padding-right: 30px;
  }

  @include vp-767 {
    padding-right: 0;
    padding-bottom: 0;
  }
}

.advantages-wrapper__quantity h4 {
  font-size: 71px;
  font-weight: 700;
  line-height: 150%;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-left: 18px;

  @include vp-1200 {
    font-size: 58px;
    padding-left: 0;
  }
}


.advantages-wrapper__quantity p {
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-left: 19px;
  margin-top: -22px;

  @include vp-1200 {
    padding-left: 0;
    margin-top: -19px;
  }

  @include vp-767 {
    margin-top: -21px;
  }
}

.advantages-wrapper__description {
  padding-top: 22px;

  @include vp-1200 {
    padding-top: 14px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.advantages-wrapper__description h5 {
  color: #102654;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding-bottom: 7px;

  @include vp-1200 {
    font-size: 20px;
    padding-bottom: 1px;
  }

  @include vp-767 {
    text-align: center;
    margin-top: -6px;
    padding-bottom: 7px;
  }
}

.advantages-wrapper__description p {
  color: #102654;
  font-size: 13.6px;
  font-weight: 300;
  line-height: 150%;
  margin: 0;

  @include vp-1200 {
    font-size: 13.9px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 147%;
    text-align: center;
    padding-left: 47px;
    padding-right: 46px;
  }
}

.advantages-wrapper__objects {
  grid-row: 1/3;
  background-color: #1c3374;
  text-align: center;
  margin: 30px 53px 40px;
  grid-column-start: 2;
  grid-column-end: 2;

  @include vp-1200 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    text-align: center;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 117px;
    margin-right: 108px;
  }

  @include vp-767 {
    order: 3;
    margin-bottom: 27px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 44px;
  }
}

.advantages-wrapper__objects h6 {
  color: $color-default-white;
  font-size: 73px;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
  padding-top: 49px;
  padding-right: 6px;

  @include vp-1200 {
    line-height: 100%;
    padding-top: 31px;
    padding-bottom: 0;
  }

  @include vp-767 {
    padding-top: 45px;
    line-height: 85%;
    padding-bottom: 0;
  }
}

.advantages-wrapper__objects p {
  color: $color-default-white;
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding-bottom: 32px;

  @include vp-1200 {
    font-size: 22px;
    padding-top: 0;
    padding-bottom: 16px;
  }

  @include vp-767 {
    padding-bottom: 9px;
  }
}

.advantages-wrapper__objects span {
  display: inline-block;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: 167%;
  padding-right: 29px;
  padding-left: 25px;
  padding-bottom: 60px;

  @include vp-1200 {
    padding-bottom: 40px;
    padding-left: 135px;
    padding-right: 135px;
  }

  @include vp-767 {
    padding-bottom: 44px;
    padding-left: 74px;
    padding-right: 76px;
  }
}
