.contacts {
  width: 100%;
  padding: 78px 0 46px 121px;
  margin: 0 auto;
  border-top: 1px solid#74819C;

  @include vp-1200 {
    padding-top: 75px;
    padding-left: 133px;
    padding-bottom: 42px;
    border-top: none;
  }

  @include vp-767 {
    padding: 71px 15px 43px 15px;
    margin-left: 0;
  }
}

.contacts h3 {
  color: #102654;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin: 0;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}
