.faq-wrapper__tabs {
  display: flex;

  @include vp-1200 {
    flex-direction: column;
  }
}

.faq-wrapper__triggers {
  display: flex;
  flex-direction: column;
  padding-right: 40px;

  @include vp-1200 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-right: 0;
    padding-bottom: 40px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 30px;
  }
}

.faq-wrapper__content {
  width: 100%;
  height: 100%;
}

.faq-wrapper__list {
  margin-top: 0;
  background-color: #f8f9fc;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
}

.faq-wrapper .is-active.faq-wrapper__list {
  padding-bottom: 25px;

  @include vp-767 {
    padding-bottom: 19px;
  }
}

.faq-wrapper__list:last-child {
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
}

.faq-wrapper__item {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq-wrapper__list h4 {
  color: #102654;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  font-size: 21.5px;
  font-weight: 500;
  line-height: 120%;
  padding-top: 24px;
  padding-bottom: 25px;

  @include vp-1200 {
    padding-top: 27px;
    padding-bottom: 23px;
    line-height: 130%;
  }

  @include vp-767 {
    font-size: 16.3px;
    line-height: 138%;
    padding-bottom: 18px;
    padding-top: 20px;
  }
}

.faq-wrapper .is-active.faq-wrapper__list h4 {
  padding-top: 25px;
  padding-bottom: 9px;

  @include vp-1200 {
    padding-top: 24px;
    padding-bottom: 7px;
  }

  @include vp-767 {
    padding-top: 18px;
    padding-bottom: 11px;
  }
}

.faq-wrapper__icon {
  margin-left: 20px;
  display: block;
  flex-shrink: 0;

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.faq-wrapper__icon .icon-close {
  display: none;
}

.faq-wrapper__list p {
  font-size: 15.85px;
  font-weight: 300;
  line-height: 155%;
  padding-right: 200px;
  overflow: hidden;
  margin: 0;
  max-height: 0;

  @include vp-1200 {
    font-size: 16px;
    padding-right: 150px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 160%;
    padding-right: 0;
  }
}

.faq-wrapper__list.is-active .faq-wrapper__icon .icon-close {
  display: block;
}

.faq-wrapper__list .is-active .faq-wrapper__icon .icon-open {
  display: none;
}
