.faq {
  padding: 120px 103px 120px 103px;
  background-color: #f8f9fc;
  color: #102654;
  font-family: "Roboto Condensed", sans-serif;

  @include vp-1200 {
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.faq-title h3 {
  color: #102654;
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 39px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 40px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 30px;
  }
}

.faq-wrapper__tabs {
  display: flex;

  @include vp-1200 {
    flex-direction: column;
  }
}

.faq-wrapper__triggers {
  display: flex;
  flex-direction: column;
  padding-right: 40px;

  @include vp-1200 {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 40px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 30px;
  }
}


.faq__item {
  width: 260px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #102654;
  border: 1px solid rgba(16, 38, 84, 0.2);

  @include vp-1200 {
    width: 162px;
    flex-direction: row;
    margin-bottom: 0;
  }

  @include vp-767 {
    width: 141px;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &:hover,
  &:focus {
    border: 1px solid #102654;
  }

  &:active {
    color: $color-default-white;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  }
}

.faq__item--activ {
  color: $color-default-white;
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
}

.faq .faq-wrapper__list {
  border-top: 1px solid rgba(28, 51, 116, 0.2);
}

.faq .faq-wrapper__list:last-child {
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
}

.faq-wrapper__item {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq-wrapper__item--activ {
  display: block;
}

.faq-wrapper__item .faq-wrapper__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 32px 0 31px;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  padding-top: 32px;
  padding-bottom: 31px;

  @include vp-1200 {
    line-height: 100%;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 120%;
  }
}

.faq-wrapper__icon {
  margin-left: 20px;
  display: block;
  flex-shrink: 0;
}

.faq-wrapper__icon:hover circle,
.faq-wrapper__icon:focus circle {
  fill: #102654;
}

.faq-wrapper__icon:hover path,
.faq-wrapper__icon:focus path {
  stroke: $color-default-white;
}

.icon-close {
  display: none;
}

.faq-wrapper__item .faq-wrapper__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: 0;


  @include vp-767 {
    font-size: 16px;
  }
}

.is-active .faq-wrapper__text {
  padding-bottom: 25px;

  @include vp-767 {
    padding-bottom: 20px;
  }
}

.ac .ac-trigger::after {
  content: none;
}

.ac {
  margin-top: 0;
  border: none;
  background-color: #f8f9fc;
}


.is-active .icon-close {
  display: block;
}

.is-active .icon-open {
  display: none;
}
