.feedback {
  margin-top: -51px;
}

.feedback__centerer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;

  @include vp-1200 {
    grid-template-columns: repeat(1, 1fr);
  }
}
