.feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -53px;

  @include vp-1200 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.feedback-form {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: #102654;
  padding: 54px 170px 68px 103px;

  @include vp-1200 {
    padding: 32px 163px 68px 133px;
  }

  @include vp-767 {
    padding: 35px 15px 72px 15px;
  }
}

.feedback-form h3 {
  color: $color-default-white;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 12px;

  @include vp-1200 {
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 1.26px;
    padding-bottom: 18px;
    padding-top: 22px;
  }

  @include vp-767 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.96px;
    padding-bottom: 26px;
  }
}

.feedback-form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  @include vp-1200 {
    grid-gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}

.feedback-form__group {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-bottom: 28px;

  @include vp-767 {
    padding-bottom: 27px;

    &:last-child {
      padding-bottom: 37px;
    }
  }
}

.feedback-form__group input {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  border-bottom: 1px solid #74819c;
  background-color: transparent;
  outline: none;
  font-size: 11.5px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: $color-default-white;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:active,
  &:focus {
    border: 1px solid $color-default-white;
    padding-top: 10px;
    padding-left: 10px;
  }

  @include vp-767 {
    padding-bottom: 8px;
  }
}

.feedback-form__group input::placeholder {
  color: $color-default-white;
}

.feedback-form__group input:focus::placeholder {
  opacity: 0;
}


.feedback-form__btn {
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: normal;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  background-color: transparent;
  border: 3px solid $color-default-white;
}

.is-invalid {
  .feedback-form__error {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 2px;
  }
}

.feedback-form__error {
  color: #ff121f;
  display: none;
}
