.header {
  color: $color-default-white;
  background: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 313.31deg);
  margin: 0 auto;
  padding: 38px 103px 50px;

  @include vp-1200 {
    padding: 36px 45px;
  }

  @include vp-767 {
    padding: 15px 15px 77px 15px;
  }
}

.header__centerer {
  max-width: 1160px;
  margin: 0 auto;
}

.header__logo {
  max-width: 1160px;
  position: absolute;
  margin: 0 auto;
  width: calc(100% - 206px);

  @include vp-1320 {
    position: relative;
  }

  @include vp-1200 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    top: -2px;
  }

  @include vp-767 {
    top: 0;
  }
}


.header__phone {
  position: absolute;
  top: -8px;
  right: 0;
  color: $color-default-white;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.78px;
  font-weight: 600;

  @include vp-1200 {
    top: unset;
    right: 1px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    right: 0;
  }
}

.header__wrapper {
  display: flex;

  @include vp-1200 {
    padding-bottom: 46px;
    justify-content: center;
  }

  @include vp-767 {
    padding-bottom: 0;
  }
}

.header__description {
  display: flex;
  flex-direction: column;
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  text-align: end;
  padding-top: 318px;
  padding-left: 19px;

  @include vp-1200 {
    padding-top: 203px;
    padding-left: 0;
  }

  @include vp-767 {
    font-size: 14px;
    padding-top: 193px;
    margin-right: 0;
    padding-left: 0;
  }
}

.header__description p {
  text-align: end;
  margin: 0;

  @include vp-767 {
    margin-right: -19px;
  }
}

.header__location {
  font-family: "Alumni Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 131px;
  padding-right: 63px;
  align-items: end;
  padding-left: 18px;

  @include vp-1200 {
    padding-top: 70px;
    padding-right: 26px;
    padding-left: 18px;
  }

  @include vp-767 {
    padding-top: 72px;
    padding-left: 0;
    padding-right: 0;
  }
}

.header__location h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.8px;
  margin: 0;
  text-transform: uppercase;
  padding-right: 51px;

  @include vp-1200 {
    font-size: 30px;
    letter-spacing: 1.02px;
    padding-right: 9px;
    text-align: end;
  }

  @include vp-767 {
    font-size: 23px;
    letter-spacing: 1.8px;
    padding-right: 3px;
  }
}

.header__location p {
  font-size: 95px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: end;
  width: min-content;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 49px;

  @include vp-1200 {
    font-size: 72px;
    text-transform: unset;
    font-style: normal;
    font-weight: 600;
    line-height: 119%;
    letter-spacing: 3.6px;
    padding-top: 10px;
    padding-right: 4px;
    padding-bottom: 35px;
  }

  @include vp-767 {
    font-size: 72px;
    line-height: 119%;
    padding-bottom: 23px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}

.header__btn {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  width: 235px;
  padding: 18px 40px;
  background-color: transparent;
  border: $color-default-white solid 4px;

  @include vp-1200 {
    width: 190px;
    padding: 21px 15px;
    margin-left: 6px;
  }

  @include vp-767 {
    width: 290px;
    padding: 21px 70px;
    margin-left: -94px;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-neon-blue;
  }


  &:active {
    background-color: $color-default-white;
    color: #102654;
  }
}


.header__img {
  padding-top: 13px;

  @include vp-1200 {
    padding-top: 17px;
  }

  @include vp-767 {
    display: none;
  }
}
