.reviews-box {
  position: relative;
  margin-left: 299px;
  margin-right: 302px;

  @include vp-1200 {
    margin-left: 99px;
    margin-right: 102px;
  }

  @include vp-767 {
    margin-left: 47px;
    margin-right: 47px;
  }
}

.reviews-box__arrow {
  cursor: pointer;
}

.reviews-box__arrow--prev-disabled {
  pointer-events: none;

  .reviews-box__svg {
    stroke: rgba(16, 38, 84, 0.3);
  }
}

.reviews-box__svg {
  position: relative;
  top: 9px;
  left: 20px;
  stroke: #102654;

  &:active {
    stroke: $color-default-white;
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
    top: 17px;
    left: 20px;
  }
}

.reviews-box__arrow--next,
.reviews-box__arrow--prev {
  cursor: pointer;
  position: absolute;
  width: 56px;
  height: 56px;
  top: calc(50% - 28px);
  border: 1px solid transparent;
  outline: none;

  &[aria-disabled="true"] {
    pointer-events: none;

    .reviews-box__svg {
      stroke: rgba(16, 38, 84, 0.3);
    }
  }

  @include vp-1200 {
    top: calc(50% - 26px);
  }

  @include vp-767 {
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    border-radius: 50%;
    border: 1px solid #102654;
  }

  &:active {
    background-color: #102654;
    border-radius: 50%;

    .reviews-box__svg {
      stroke: $color-default-white;
    }
  }
}

.reviews-box__arrow--next {
  stroke: #102654;
  left: auto;
  right: -75px;

  @include vp-767 {
    right: -52px;
  }
}

.reviews-box__arrow--prev {
  stroke: #102654;
  right: auto;
  left: -77px;

  @include vp-767 {
    left: -53px;
  }
}
