.reviews-box {
  position: relative;
}

.reviews-box__svg {
  position: relative;
  top: 9px;
  left: 20px;

  &:active path {
    fill: $color-default-white;
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
    top: 17px;
    left: 20px;
  }
}

.reviews-box__arrow--next,
.reviews-box__arrow--prev {
  position: absolute;
  width: 56px;
  height: 56px;
  top: calc(50% - 28px);

  @include vp-767 {
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    border-radius: 50%;
    border: 1px solid #102654;
  }

  &:active {
    background-color: #102654;
    border-radius: 50%;

    .reviews-box__svg {
      stroke: $color-default-white;
    }
  }
}

.reviews-box__arrow--next {
  stroke: #102654;
  left: auto;
  right: -75px;

  @include vp-767 {
    right: -52px;
  }
}

.reviews-box__arrow--prev {
  stroke: #102654;
  right: auto;
  left: -77px;

  @include vp-767 {
    left: -53px;
  }
}
