.reviews-container {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 62px 62px 42px 62px;
  width: 560px;
  background-color: #1c3374;
  margin: 0 auto;

  @include vp-1200 {
    width: 566px;
    padding: 55px 65px;
    margin-bottom: -13px;
  }

  @include vp-767 {
    width: 226px;
    padding: 40px 0;
    margin-bottom: -22px;
  }
}

.reviews-container__img {
  width: 100%;
  display: flex;

  @include vp-1200 {
    padding-top: 6px;
  }

  @include vp-767 {
    padding-bottom: 17px;
    padding-top: 0;
    padding-left: 42px;
  }
}

.reviews-container__img h4 {
  color: $color-default-white;
  font-size: 20px;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
  padding-left: 28px;
  margin-top: -2px;

  @include vp-1200 {
    margin-top: 0;
    padding-left: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 8px;
    padding-left: 16px;
    line-height: 130%;
  }
}

.reviews-container__text p {
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-top: -46px;
  padding-left: 108px;

  @include vp-1200 {
    margin-top: -45px;
    padding-left: 110px;
  }


  @include vp-767 {
    padding-left: 24px;
    padding-right: 25px;
    text-align: center;
    margin-top: 0;
  }
}
