.stock {
  padding: 156px 103px 117px;

  @include vp-1200 {
    padding: 105px 45px 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px 70px;
  }
}

.stock__centerer {
  max-width: 1160px;
  margin: 0 auto;
}

.stock h3 {
  color: #102654;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin: 0;
  text-align: center;
  padding-bottom: 54px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 53px;
    padding-right: 9px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 49px;
    padding-left: 10px;
  }
}

.stock__deskription {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1200 {
    padding-bottom: 0;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stock__depiction {
  background-color: #ed0233;
  color: $color-default-white;
  text-align: start;
  padding: 34px 45px;

  @include vp-1200 {
    padding-bottom: 43px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 9px;
    text-align: center;
  }
}

.stock__depiction h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 156%;
  margin: 0;
}

.stock__depiction p {
  font-size: 70px;
  font-weight: 700;
  line-height: 80%;
  margin: 0;
  padding-bottom: 27px;

  @include vp-1200 {
    line-height: 86%;
    padding-bottom: 21px;
  }

  @include vp-767 {
    font-size: 70px;
    line-height: 85%;
    padding-bottom: 21px;
  }
}

.stock__depiction div {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;

  @include vp-1200 {
    padding-right: 60px;
  }

  @include vp-767 {
    font-size: 14.5px;
    line-height: 160%;
    text-align: center;
    padding-bottom: 21px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

.stock__depiction-more {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: normal;
  text-transform: uppercase;
  color: $color-default-white;
  padding-top: 190px;

  @include vp-1200 {
    padding-top: 192px;
  }

  @include vp-767 {
    padding-bottom: 37px;
    padding-top: 0;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 78px;
    border-bottom: 2px solid $color-default-white;

    @include vp-767 {
      width: 80px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    padding: 10px;
    border: 1px solid $color-default-white;
  }

  &:active {
    padding-bottom: 5px;
    border-bottom: 2px solid $color-default-white;
  }
}

.stock__deskription-img {
  @include vp-1200 {
    margin-left: -60px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.stock__deskription-foto {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.stock__addition {
  color: #1c3374;
  text-align: start;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;

  @include vp-1200 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}


.stock__addition-offer {
  padding: 18px 0 26px 29px;
  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;

  @include vp-1200 {
    padding-bottom: 26px;
  }

  @include vp-767 {
    padding: 32px 43px 40px;
  }
}

.stock__addition-offer h5 {
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 4px;
  margin: 0;

  @include vp-1200 {
    padding-bottom: 0;
  }

  @include vp-767 {
    font-size: 24px;
  }
}

.stock__addition-offer p {
  font-size: 14.3px;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 66px;
  margin: 0;

  @include vp-1200 {
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.29px;
    padding-top: 4px;
    padding-bottom: 41px;
    padding-right: 64px;
  }

  @include vp-767 {
    font-size: 13px;
    line-height: 160%;
    letter-spacing: unset;
    padding-bottom: 16px;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.stock__addition-offer:nth-child(2n) p {
  @include vp-1200 {
    padding-right: 0;
    padding-bottom: 64px;
  }

  @include vp-767 {
    padding-bottom: 16px;
    padding-right: 11px;
  }
}

.stock__addition-more {
  color: #1c3374;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: normal;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 67px;
    border-bottom: 2px solid #1c3374;
  }

  &:focus {
    padding: 10px;
    border: 1px solid #1c3374;
  }

  &:active {
    color: #1c3374;
    border-bottom: 2px solid #1c3374;
  }
}
