.stock {
  padding: 135px 103px 120px;

  @include vp-1200 {
    padding: 91px 45px 100px;
  }

  @include vp-767 {
    padding: 63px 15px 70px;
  }
}

.stock-header h3 {
  color: #102654;
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin: 0;
  text-align: center;
  padding-bottom: 34px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 42px;
  }
}

.stock-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  @include vp-1200 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.stock__deskription {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stock__depiction {
  background-color: #ed0233;
  color: $color-default-white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: start;
  padding: 45px;

  @include vp-767 {
    padding: 45px 50px;
    text-align: center;
  }
}

.stock__depiction-header {
  font-size: 28px;
  font-weight: 700;
  line-height: 156%;
  margin: 0;

  @include vp-767 {
    font-size: 28px;
  }
}

.stock__depiction-price {
  font-size: 70px;
  font-weight: 700;
  line-height: 156%;
  padding-top: 19px;
  padding-bottom: 35px;
}

.stock__depiction-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 198px;
  margin: 0;

  @include vp-767 {
    padding-bottom: 40px;
  }
}

.stock__depiction-more {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: $color-default-white;
  padding-bottom: 5px;
  border-bottom: 2px solid $color-default-white;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    padding: 10px;
    border: 1px solid $color-default-white;
  }

  &:active {
    padding-bottom: 5px;
    border-bottom: 2px solid $color-default-white;
  }
}

.stock__deskription-foto {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.stock__addition {
  color: #1c3374;
  font-family: "Roboto Condensed", sans-serif;
  text-align: start;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;

  @include vp-1200 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}


.stock__addition-offer {
  padding: 35px 0 30px 35px;
  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;


  @include vp-767 {
    padding: 46px 50px;
  }
}

.stock__addition-header {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.stock__addition-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding-top: 20px;
  padding-bottom: 80px;
  margin: 0;

  @include vp-1200 {
    padding-bottom: 57px;
  }

  @include vp-767 {
    padding-bottom: 35px;
  }
}

.stock__addition-more {
  color: #1c3374;
  padding-bottom: 5px;
  border-bottom: 2px solid #1c3374;

  &:focus {
    padding: 10px;
    border: 1px solid #1c3374;
  }

  &:active {
    color: #1c3374;
    border-bottom: 2px solid #1c3374;
  }
}
