.subscription {
  position: relative;
  background: #f8f9fc;
  overflow: visible;
  padding: 119px 103px 121px;

  @include vp-1200 {
    padding: 99px 163px 99px 163px;
  }

  @include vp-767 {
    padding: 64px 15px 58px;
  }
}

.subscription__centerer {
  max-width: 1160px;
  margin: 0 auto;
}

.subscription h3 {
  color: #102654;
  font-family: "Alumni Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 16px;

  @include vp-1200 {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1.26px;
    padding-bottom: 21px;
    padding-right: 11px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 23px;
    padding-right: 0;
  }
}

.subscription__tabs {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  color: #102654;
  position: relative;
  width: 341px;
  margin: auto;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(16, 38, 84, 0.5);
    bottom: 0;
  }

  @include vp-1200 {
    width: 332px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.subscription__tabs p {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  opacity: 0.5;
  margin: 0;
  padding-bottom: 14px;

  @include vp-1200 {
    font-size: 16px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 12px;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #d10a42;
      bottom: 0;
    }
    opacity: 1;
  }
}

.subscription__item--activ {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d10a42;
  bottom: 0;
  opacity: 1;
}


.subscription__list {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 0;
  margin: 0;
  padding-top: 39px;
  list-style-type: none;
  text-align: center;


  @include vp-1200 {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 45px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-gap: 35px;
    padding-top: 45px;
  }
}

.subscription__item {
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 59px;
  border: 7px solid $color-default-white;

  @include vp-1200 {
    width: 442px;
    padding-bottom: 61px;
  }

  @include vp-767 {
    width: 290px;
    padding-bottom: 60px;
    margin-top: -10px;
    margin-bottom: -3px;
  }

  &:hover,
  &:focus {
    border-image: linear-gradient(to right top, rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
    border-image-slice: 1;
  }
}

.subscription__item h4 {
  color: #102654;
  font-size: 26.2px;
  font-weight: 700;
  line-height: 152.34%;
  font-style: normal;
  margin: 0;
  padding-top: 51px;
  padding-bottom: 7px;

  &:hover,
  &:focus {
    text-transform: capitalize;

    @include vp-767 {
      text-transform: unset;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 110.16%;
    padding-top: 44px;
    padding-bottom: 10px;
  }
}

.subscription__item p {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  margin: 0;
  padding-bottom: 14px;

  @include vp-767 {
    padding-bottom: 12px;
  }
}

.subscription__price {
  position: relative;
  padding-bottom: 26px;

  @include vp-1200 {
    padding-bottom: 28px;
  }

  @include vp-767 {
    padding-bottom: 24px;
  }
}

.subscription__price span {
  color: #e8e8e8;
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;

  @include vp-767 {
    font-size: 80px;
  }
}

.subscription__price span::before {
  content: attr(data-text);
  position: absolute;
  color: #103aae;
  font-size: 58px;
  font-weight: 700;
  line-height: 150%;
  left: 20px;
  top: 52px;

  @include vp-767 {
    font-size: 48px;
    left: 16px;
    top: 42px;
    padding-bottom: 50px;
  }
}

.subscription__svg {
  position: absolute;
  top: 73px;
  right: 18px;

  @include vp-767 {
    width: 24px;
    height: 33px;
    top: 63px;
    right: 18px;
  }
}

.subscription__btn {
  color: #102654;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: normal;
  font-style: normal;
  text-transform: uppercase;
  padding: 26px 45px;
  background-color: $color-default-white;
  border: 2px solid #102654;

  &:hover,
  &:focus {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: $color-default-white;
    border: none;
  }

  &:active {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: rgba(255, 255, 255, 0.5);
  }

  @include vp-1200 {
    padding: 25px 45px;
  }
}

.subscription__pancakes {
  position: absolute;
  top: 505px;
  right: 0;
  z-index: 1;

  @include vp-1200 {
    display: block;
    position: absolute;
    right: 0;
    top: 1460px;
  }

  @include vp-767 {
    display: none;
  }
}
