.trainer {
  padding-bottom: 98px;

  @include vp-1200 {
    padding-bottom: 92px;
  }

  @include vp-767 {
    padding-bottom: 63px;
  }
}

.trainer h3 {
  color: #102654;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 0;
  padding-top: 1px;
  padding-left: 105px;
  padding-bottom: 49px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 33px;
    text-align: center;
    padding-left: 0;
    padding-right: 5px;
    padding-top: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 43px;
    padding-top: 0;
    padding-right: 0;
  }
}

.trainer__slider {
  position: relative;
  padding-left: 103px;
  padding-right: 103px;

  @include vp-1200 {
    padding-left: 101px;
    padding-right: 101px;
  }

  @include vp-767 {
    padding-left: 47px;
    padding-right: 47px;
  }
}

.trainer__slide {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0;

  @include vp-1200 {
    background-size: cover;
    background-position: center;
  }

  @include vp-767 {
    background-size: cover;
    background-position: center top;
  }
}

.trainer__hover {
  position: relative;
  margin: auto;
  width: 260px;

  @include vp-767 {
    width: 226px;
  }
}

.trainer__img {
  display: inline-block;
  position: relative;

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.trainer__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  padding: 58px 0;
  text-align: center;
  display: none;

  @include vp-767 {
    width: 226px;
  }
}

.trainer__slide:hover .trainer__description,
.trainer__slide:focus .trainer__description {
  display: block;

  @include vp-1200 {
    display: none;
  }
}

.trainer__slide:active .trainer__description {
  @include vp-1200 {
    display: block;
  }
}

.trainer__description h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.trainer__description span {
  color: #b6bdcc;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.trainer__item {
  padding-left: 60px;
  padding-right: 45px;
  text-align: start;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding-top: 20px;
}

.trainer__item li {
  padding-bottom: 4px;
}


.trainer__slide p {
  position: absolute;
  bottom: 30px;
  margin: 0;
  left: 0;
  right: 0;
  color: $color-default-white;
}

.trainer__slide:hover p {
  display: none;

  @include vp-1200 {
    display: block;
  }
}

.trainer__slide:focus p {
  display: none;

  @include vp-1200 {
    display: block;
  }
}

.trainer__slide:active p {
  @include vp-1200 {
    display: none;
  }
}
