.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  color: $color-default-white;
  background: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 313.31deg);
  padding: 30px 103px 51px;

  @include vp-1200 {
    padding: 40px 45px;
  }

  @include vp-767 {
    padding: 15px 15px 80px 15px;
  }
}
