.trainer__svg {
  position: relative;
  top: 0;
  left: 3px;

  @include vp-767 {
    width: 10px;
    height: 19px;
    top: 0;
    left: 2px;
  }
}

.swiper-button-next {
  stroke: #102654;
  left: auto;
  right: 0;
}

.swiper-button-prev {
  stroke: #102654;
  left: -6px;
  right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 56px;
  height: 56px;
  top: calc(50% - 10px);

  @include vp-767 {
    width: 50px;
    height: 50px;
    top: calc(50% - 5px);
  }

  &:hover,
  &:focus {
    border-radius: 50%;
    border: 1px solid #102654;
  }

  &:active {
    background-color: #102654;
    border-radius: 50%;

    .trainer__svg {
      stroke: $color-default-white;
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
